body {
    background-color: white;
    font-family: 'IBM  Plex Sans Arabic', sans-serif;
    font-size: 14px;
    color: #000000;
}

#date {
    text-transform: uppercase;
}

.header {
    width: 100%;
    text-align: center;
}

.notecontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.pincontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.pin {
    margin-top: 10px;
    display: inline-block;
    width: 525px;
}

.row {
    display: flex; /* equal height of the children */
}

.pinoutput {
    /* preserves line breaks and spaces of key value */
    white-space: pre;
}

#button {
    text-align: right;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    font-size: 12px;
}

textarea {
    background-color: #181a1b;
    color: #FFFFFF;
    padding: 10px;
}

input {
    background-color: #181a1b;
    color: #FFFFFF;
}

/* dark mode */
.dark {
    background-color: #141414;
    color: #FFFFFF;
}

.bottom {
    padding: 15px;
    text-align: center;
}
